@mixin centerM($display: flex)
    display: $display
    flex-direction: column
    justify-content: center
    margin: 0 auto
    height: 100vh
    
@mixin centerColumn($display: flex)
    display: $display
    flex-direction: column
    justify-content: center
    height: 100vh
    
@mixin center($display: flex)
    display: $display
    justify-content: center
    gap: 10px
    